<div class="signedlist">
<h1>Signers</h1>
        {{# signedlist}}

            <h3><li>{{firstname}}  {{lastname}} {{age}} <a href="/signers/{{city}}">{{city}}</a> </li></h3>

        {{/signedlist}}

    </div>
