<h1>Signers</h1>
    <div class="signedlist">

        {{# signerslist}}

            <li>{{firstname}}  {{lastname}} {{age}} <a href="/signers/{{city}}">{{city}}</a> </li>

        {{/signerslist}}

    </div>
